<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="bootstrap.min.css" />
        <title>Administração</title>
    </head>
    <body>
        <div class="container" id="app">
            <div id="messages" class="position-fixed">
                <div v-if="messageOk" class="alert alert-success" role="alert">
                    {{messageOk}}
                </div>
                <div v-if="messageError" class="alert alert-danger" role="alert">
                        {{messageError}}
                </div>
            </div>
            
            <h1>Administração</h1>
            <button v-on:click="generateRegistroStream('registroPessoas')">Gerar Stream 'registroPessoas'</button>
            <button v-on:click="generateRegistroStream('registroImoveis')">Gerar Stream 'registroImoveis'</button>
            <button v-on:click="generatePerson">Gerar Pessoa</button>
            <button v-on:click="generateHouse">Gerar Imóvel</button>
        </div>
            
        <script src="vue.min.js"></script>
        <script src="vue-resource.min.js"></script>
        <script src="admin.js"></script>
        </body>
</html>