<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="bootstrap.min.css" />
        <title>Registros</title>
    </head>
    <body>
        <div class="container" id="app">
            <div id="messages" class="position-fixed">
                <div v-if="messageOk" class="alert alert-success" role="alert">
                    {{messageOk}}
                </div>
                <div v-if="messageError" class="alert alert-danger" role="alert">
                    {{messageError}}
                </div>
            </div>
            
            <h1>Registros</h1>
            <div class="row">
                <fieldset class="col">
                    <legend><h2>Pessoas</h2></legend>
                    <ul>
                        <li v-for="p in peopleList">
                            <a href="#" v-on:click="loadPerson(p.key)">{{p.key}} ({{p.count}})</a>
                        </li>
                    </ul>
                </fieldset>
                <fieldset class="col">
                    <legend><h2>Imóveis</h2></legend>
                    <li v-for="h in houseList">
                        <a href="#" v-on:click="loadHouse(h.key)">{{h.key}}({{h.count}})</a>
                    </li>
                </fieldset>
            </div>

            <div v-if="currentHouseList">
                <h3>Imóvel</h3>
                <h4>Transferir para:</h4>
                <select v-model="selectedPerson">
                    <option></option>
                    <option v-for="p in peopleList" v-bind:value="p.key">{{p.key}}</option>
                </select>
                <button v-on:click="saveHouseOwnerChange()">Gravar</button>
                <ul>
                    <li v-for="currentHouse in currentHouseList">
                        <dl>
                            <dt>id</dt>
                            <dd>{{currentHouse.data.id}}</dd>
                            <dt>Endereço</dt>
                            <dd>{{currentHouse.data.address}}</dd>
                            <dt>Valor</dt>
                            <dd>{{currentHouse.data.value}}</dd>
                            <dt>Dono</dt>
                            <dd>{{currentHouse.data.dono}}</dd>
                        </dl>
                    </li>
                </ul>
            </div>

            <div v-if="currentPersonList">
                <h3>Pessoa</h3>
                <ul>
                    <li v-for="currentPerson in currentPersonList">
                        <dl>
                            <dt>id</dt>
                            <dd>{{currentPerson.data.id}}</dd>
                            <dt>Nome</dt>
                            <dd>{{currentPerson.data.name}}</dd>
                            <dt>CPF</dt>
                            <dd>{{currentPerson.data.cpf}}</dd>
                        </dl>
                    </li>
                </ul>
                </div>
        </div>
            
        <script src="vue.min.js"></script>
        <script src="vue-resource.min.js"></script>
        <script src="index.js"></script>
        </body>
</html>